<div class="text-layout">
    <h1>Personalized Pipes</h1>
    <p>
       Pipes creados por {{'nosotros' | capitalize: isCapitalized}}
    </p>

    </div>


    <p-toolbar>
               <div class="p-toolbar-group-left">
 <p-button label="New" icon="pi pi-plus"></p-button>
          <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>
              
          <i class="pi pi-bars"></i>
          
      </div>
      
      <div class="p-toolbar-group-right">

         <button pButton 
         pRipple 
         type="button" 
         label="Toggle uppercase" 
         class="p-button p-button-help mr-1 p-button-warning" (click)="toggleCapitalized()"></button>

         <p-button icon="pi pi-sort"
         label="by name"
         class="mr-1"
         (click)="changeOrder('name')"
         ></p-button>
          <!-- <p-button icon="pi pi-search"></p-button> -->
          <button 
          icon="pi pi-sort"
          pButton pRipple
           type="button" 
           label="flies" 
           class="p-button-raised p-button-warning
           mr-1"
           (click)="changeOrder('flies')"
           ></button>

          <button 
          icon="pi pi-sort"
          pButton pRipple 
          type="button" 
          label="By color" 
          class="p-button-raised p-button-danger"
          (click)="changeOrder('color')"
          ></button>
          
      </div>
  </p-toolbar>

  <div class="p-grid">
   <div class="col mt-2">

      <p-table [value]="heroes | order: orderBy">
         <ng-template pTemplate="header">
             <tr>
                 <th>Name</th>
                 <th>Flies</th>
                 <th>Color</th>
        
             </tr>
         </ng-template>
         <ng-template pTemplate="body" let-heroe>
             <tr>
                 <td>{{heroe.name}}</td>
                 <td>{{heroe.flies| flies}}</td>
                 <td>{{heroe.color}}</td>
             </tr>
         </ng-template>
     </p-table>
     
   </div>

   <div class="col mt-2">
<!-- the slice pipe assures that there is no mutation -->
    <p-table [value]="heroes | slice:0">
       <ng-template pTemplate="header">
           <tr>
               <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
               <th pSortableColumn="flies">Flies<p-sortIcon field="flies"></p-sortIcon></th>
               <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>
      
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-heroe>
           <tr>
               <td>{{heroe.name}}</td>
               <td>{{heroe.flies| flies}}</td>
               <td>{{heroe.color}}</td>
           </tr>
       </ng-template>
   </p-table>
   
 </div>
  </div>