<div class="text-layout">
<h1>Basic Pipes</h1>
<p>
    Pipes included in Angular - usually in the common module.
</p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
        [subheader]="lowerName | uppercase"
        >
            {{lowerName}}
        </p-card>
      
    </div>
    <div class="col-4">
        <p-card header="lowercase"
        [subheader]="upperName | lowercase"
        >
            {{upperName}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
        [subheader]="completeName | titlecase"
        >
            {{completeName}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date Pipe</h1>
    <p>
        Pipes to show dates.
    </p>
    </div>

    <div class="grid">
        <div class="col-6">
            <p-card header="Dates"
            [subheader]="lowerName | uppercase"
            >
            <ul>
                <li> date</li>
                <li> date | date</li>
                <li> date | date: 'short'</li>
                <li> date | date: 'long'</li>
                <li> date | date: 'MM/yyyy hh:mm a G'</li>
            </ul>
            <hr>
            <ul>
                <li> date | date: 'long': 'GMT-6'</li>
                <li> date | date: 'long': 'GMT-4'</li>
            </ul>
            </p-card>
            </div>

            <div class="col-6">
                <p-card header="Date as new pipes"
                [subheader]="lowerName | uppercase"
                >
                <ul>
                    <li>{{date}}</li>
                    <li>{{date | date}}</li>
                    <li> {{date | date: 'short'}}</li>
                    <li> {{date | date: 'long'}}</li>
                    <li> {{date | date: 'MM/yyyy hh:mm a G'}}</li>
                </ul>
                <hr>
                <ul>
                    <li> {{date | date: 'long': 'GMT-6': 'en'}}</li>
                    <li> {{date | date: 'long': 'GMT-4'}}</li>
                    <li> {{date | date: 'long': '': 'en'}}</li>
                </ul>
                </p-card>
                </div>

                <div class="col-6">
                    <p-card header="Running Clock"
                    subheader="using timer to display current time"
                    >
                    <i class="pi pi-clock" style="font-size: 2rem"></i>
                    <p>{{dateTime | date: 'HH:mm:ss'}}</p>
                    <p>{{dateTime | date: 'dd MMMM yyyy'}}</p>
                    </p-card>
                    </div>